extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Tamara Patterson

        //- Feel free to personalize the title below
        p Full Stack JavaScript Engineer


        .about-bio

          //- Replace the boilerplate below with your best elevator pitch
          p Dedicated to having an impact, most of my career involves making technology actually work for organizations. Later, I took another approach and grew strong readers by 3rd grade. Recently, I've found absolute joy in coding solutions myself in JavaScript, Python, Kotlin, HTML, and CSS. 
          p Thanks for looking at my portfolio. Feel free to reach out with any questions whatsoever.


      .skills-contact-box.box
        h6 Skills

        //- Replace skills below with your own skills — at this point, you should be able to list as many as ten skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        //- Replace with your own contact info - feel free to use fake information if you prefer
        ul
          li 914-924-7656
          li tamarabpatterson@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.btn-link(href='https://www.linkedin.com/in/tamarabuilds/' target='_blank') LinkedIn
        a.btn-link(href='https://github.com/tamarabuilds' target='_blank') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back